body {
    cursor: url('bread.webp'), auto;
    margin: 0;
    overflow: hidden;
}

#duck {
    position: absolute;
    bottom: -20px; /* Adjust this value to align the duck properly */
    left: 0;
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1;
    font-family: monospace;
    white-space: pre;
    user-select: none;
}
